html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    /* 16px */
    font-family: var(--tipografia);
    font-weight: 400;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header header header" 
    "main main aside"   
    "main main aside"
    "recomendacao recomendacao recomendacao"
    "creditos creditos creditos"
    ;
    background-color: var(--branco2);
    padding: 20px 40px;
    grid-gap: 30px;
    max-width: 1440px;
    margin: 0 auto;
}
header{
    grid-area: header;
}
header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}


main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "picture picture"
    "h1 box-main"
    ;
    grid-gap: 30px;
}
main picture{
    grid-area: picture;
}
main picture img{
    width: 100%;
}
main h1{
    grid-area: h1;
    font-size: 4.5rem;
    display: flex;
    align-items: center;
}
main .box-main{
    grid-area: box-main;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main .box-main p{
    color: var(--cinza-escuro);
}
main .box-main a{
    width: 120px;
    padding: 10px 30px;
    background-color: var(--vermelho);
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: white;
    font-size: 1.4rem;
    letter-spacing: 2px;
    transition: 0.3s;
}
main .box-main a:hover{
    background-color: var(--azul-dark);
}


aside{
    grid-area: aside;
    background-color: var(--azul-dark);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
aside h2{
    color: var(--laranja);
    font-size: 4rem;
}
aside .box{
    padding-top: 30px;
    margin-bottom: 30px;
}
aside .box:nth-child(3), .box:nth-child(4){
    border-top: 0.2px solid var(--cinza);
}
aside .box h3{
    font-size: 1.8rem;
    transition: 0.25s;
    cursor: pointer;
}
aside .box h3:hover{
    color: var(--laranja);
}
aside .box p{
    margin-top: 15px;
    color: var(--cinza);
    font-size: 1.5rem;
}


.recomendacao{
    margin-top: 30px;
    grid-area: recomendacao;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "box1 box2 box3"
    ;
    grid-gap: 30px;
}
.recomendacao .box{
    display: flex;
    align-items: center;
}
.recomendacao .box picture{
    max-width: 120px;
    min-width: 90px;
    margin-right: 30px;
}
.recomendacao .box img{
    width: 100%;
}
.recomendacao .box .box-info{
    display: flex;
    flex-direction: column;
    align-self: auto;
}
.recomendacao .box .box-info h3{
    font-size: 3.5rem;
    color: var(--cinza);
}
.recomendacao .box-info span{
    color: var(--azul-dark);
    font-weight: 800;
    font-size: 1.8rem;
    margin: 10px 0px;
    transition: 0.25s;
    cursor: pointer;
}
.recomendacao .box-info span:hover{
    color: var(--vermelho);
}
.recomendacao .box-info p{
    color: var(--cinza-escuro);
    font-size: 1.5rem;
}
.recomendacao .box.box1{
    grid-area: box1;
}
.recomendacao .box.box2{
    grid-area: box2;
}
.recomendacao .box.box3{
    grid-area: box3;
}


.creditos{
    grid-area: creditos;
    display: absolute;
}
.creditos { font-size: 11px; margin: 0 auto; }
.creditos a { color: hsl(228, 45%, 44%); }


/* RESPONSIVO TABLET */
@media(max-width: 900px){
    body{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "aside"
        "recomendacao"
        "creditos"   
        ;
    }
    aside{
        margin: 0 auto;
    }
    .recomendacao{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

}

/* RESPONSIVIDADE CELULAR 375PX */
@media(max-width: 500px){
    main{
        display: flex;
        flex-direction: column;
    }
    .recomendacao .box picture{
        width: 50px;
    }
}


/* Responsividade 4K */
@media(min-width: 2400px){
    body{
        max-width: 1900px;
    }
    main h1{
        font-size: 6rem;
    }
    main .box-main p{
        font-size: 2.7rem;
    }
    main .box-main a{
        width: 200px;
        font-size: 2.5rem;
    }

    
    aside h2{
        font-size: 5rem;
    }
    aside .box{
        margin-top: 35px;        
    }
    aside .box h3{
        font-size: 3rem;
    }
    aside .box p{
        font-size: 2.7rem;
    }


    .recomendacao .box-info h3{
        font-size: 3rem;
    }
    .recomendacao .box .box-info span{
        font-size: 2.7rem;
    }
    .recomendacao .box .box-info p{
        font-size: 2.5rem;
    }

    .creditos{
        font-size: 2rem;
    }
}